[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-taglist"]
	path = vim/bundle/vim-taglist
	url = http://github.com/bronson/vim-taglist.git
[submodule "vim/bundle/vcscommand"]
	path = vim/bundle/vcscommand
	url = git://repo.or.cz/vcscommand.git
